<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inscription</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css">
    <link rel="stylesheet" href="../style.css"> 
</head>
<body>

    <form method ="POST" name="inscription" id="form_inscription">
        <input class="form-control" type="text" name="identifiant" placeholder="email">
        <br>
        <input class="form-control" type="text" name="pseudo" placeholder="pseudo">
        <br>
        <input class="form-control" type="password" name="password" placeholder= "password">
        <br>
        <input class="form-control" type="password" name="password_confirm" placeholder= "confirm password">
        <br>
        <input href ='Views/index_chat.html' id="button" class ="btn btn-primary" type="submit" name="confirm_register" value="sauvegarder">
    </form>

    <script src="../main.js"></script>

</body>
</html> 